@charset "UTF-8";

.right{
	text-align: right;
}

.center{
	text-align: center;
}

.black{
	color: black;
}

.btn{
	padding: 12px 15px;
	
}
.red{
	color: red;
}

.color_gray{
	color: gray;
}

.theme-cl{
	color: black !important;
}

.margin-o{
	margin:0;
}

.none{
	display: none;
}

textarea::placeholder{
	color: gray !important;
}
input::placeholder{
	color: gray !important;
}

.flex{
	display:flex;
}

.flex-end{
	display:flex;
	justify-content: flex-end;
}

.flex-space{
	display:flex;
	justify-content: space-between;
}

#btedit, #comment_edit {
    background: #1d2636 !important;
    border: 1px solid #1d2636 !important;
}

#btdelete {
    background: #e42d29;
	border: 1px solid #e42d29;
}

#btreboard {
    background: #72809D;
	border: 1px solid #72809D;
}


#btlist, #btcancle {
	background: gray;
	border: 1px solid gray;
}

.ic{
    display: inline-block;
    background: url("../img/board.png") 0 0 no-repeat;
    width: 24px;
    height: 30px;
    text-indent: -1000em;
    vertical-align: middle;
}
.ic.ic_view {
    background-position: -154px -61px;
}

.ic.ic_reReply {
    background-position: -243px -67px;
}

.ic.ic_list_file{
    background-position: -121px -33px;
}

.ic.ic_share{
    background-position: -152px -512px;
}
.ic.ic_regdate{
    background-position: -152px -122px;
}

label {
	font-size: 16px;
	font-weight: bolder;
}

.form-group {
	display: block;
}

#submitlist {
	margin: 0;
	padding-left: 10px;
	display: flex;
	justify-content: space-evenly;
}

section {
	padding: 60px 0;
}

.form-control {
	box-sizing: border-box;
}

.form-group{
	margin-bottom: 0px;
}


.box {
	visibility: hidden;
}

.bold{
	font-weight: bold;
}

#byte {
	padding: 45px 15px 0 0;
}

textarea.form-control {
	width: 640px;
	height: 300px;
}

.dashboard_property .table .thead-dark th {
	text-align: center;
}

td{
	text-align: center;
}

._prt_filt_dash_flex .foot-news-last {
	display: flex;
	max-width: 600px;
}

.input-group {
	height: 45px;
}

span.new {
    background: #ff9800;
    padding: 0px 4px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 13px;
}

a.notice {
	font-weight: bold;
}
span.notice {
    margin-left: 4px;
    background: red;
    padding: 3px 5px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 13px;
}
span.normal {
    margin-left: 4px;
    background: #27ae60;
    padding: 3px 5px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 13px;
}
span.answer {
    margin-left: 4px;
    background: blue;
    padding: 3px 10px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 13px;
}

span.detail{
    color: #2D3954;

    font-family: 'Jost', sans-serif;

    font-weight: 600;

    padding: 10px 0;
}


span.boardTitle {
	font-size: 16px;
	font-weight: bold;
}


.board_category{
	font-style: normal;
    padding-right: 6px;
}


._prt_filt_dash {
	background: #ffffff;
    justify-content: flex-end;
    display: unset;
}
.list._prt_filt_dash {
	padding: 0px;
}

.search.col-lg-12.col-md-12{
	padding-top: 30px;
}

.divSearch{
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
}


.detail.form-group{
	display: flex;
}

.pagination li:first-child a {
	background: #35434e;
    border: 1px solid #35434e;
    border-radius: 50% !important;
    color: #fff;
}

.page-item.active a{
    font-size: 1.4em;
    font-weight: bold;
}

.delete_header{
	height: 20%;
	padding-top: 25;
 	font-weight: bold;
}

.delete_body .form-group{
		margin: 0 auto;
}

#pwdchk, .form-group#submitlist{
	margin-bottom: 20px;
}

#delete_wrap{
	height: 100%;
	/*  border: none;*/
}

.comments.form-control{
	height: 100px !important;
	width: 100% !important;
	
}
.comments_write{
    display: table;
    position: absolute;
    top: 50px;
    right: 15px;
    width: 88px;
    min-height: 64px;
    text-align: center;
    box-sizing: border-box;
}

.reply {
    display: block;
    padding: 15px 15px 0;
    border-radius: 5px;
    color: #666;
    position: relative;
}

.author-name{
	font-size: 1.4em;
	font-weight: bold;
}

.comment-list ul{
	padding-left:25px;
}

.lastDiv{
	padding: 30px 0 80px 20px;
    border-bottom: 1px solid #f0f0f3;
}

.pagination li a {
    background: white;
    border: 1px solid white;
    border-radius: 50% !important;
    color: black;
}

._prt_filt_dash_flex{
	width: 900px;
    flex: 1;
}


select.form-control:not([size]):not([multiple]) {
	width: 150px;
}

.ck-editor__editable{
	min-height: 400px;
}

.ck-content {
	font-size: 18px; 
}

*, ::after, ::before{
	box-sizing: content-box;
}

.list.row{
	display: grid;
}

.btn:active, .btn:focus {
	outline: none !important; 
	box-shadow : 3px 3px 3px black;
	transition-duration: 0.3s;
}

span.fileInfo img{
	display: none;
}

.replyButtons{
	display: inline;
}

#replyList{
	margin-top: 20px;
	padding: 20px 20px 40px 20px;
	background-color: #eef2f5;
}

.comment-meta{
	border: 1px solid #e5e8f3;
    background: #ffffff;
    border-radius: 0.4rem;
    padding: 20px;
}

.reReply.comment-meta{
	margin-left: 60px;
}

.btnReplyEditOpen, .btnReplyDelete, .btnRereply, .btReplyEdit{
	outline: none !important;
	border: none;
}


.btnReplyDelete{
	margin-left: 10px;
}

.btnRereply{
	background: #ffffff;
	text-decoration: underline;
}

.reReplyForm{
	margin: 20px 0 20px 0;
}

.NoReply{
	text-align: center;
	font-weight: bold;
	color: gray;
}

.ReplyEditSubmit{
	display:flex;
	justify-content: flex-end;
	margin-top:10px;
}

.submit-form{
	margin: 20px 0 60px 0;
}

#noUserTa{
	background: #a1a7ad6b !important;
}

div.writeEdit >div >div{
	margin: 15px 0 15px 0;
}


